html, body {
    margin: 0; 
    padding: 0; 
    background-color: #82CAFF; 
    color: #FFF;
}


button {
    background-color: #FFF;
    color: #82CAFF;
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.marginTopTwenty {
    margin-top: 20%; 
}

.hideText {
    color: transparent;
}

.showText {
    color: #FFF;
}